<div class="blog-pagination">
    <ul class="justify-content-center">
        {% if bukus.has_previous %}
            <li><a href="?page=1">&laquo; Pertama</a></li>            
            <li><a href="?page={{ bukus.previous_page_number }}">Sebelumnya</a></li>                        
        {% endif %}        
        <li class="active">
            <a href="">Laman {{ bukus.number }} dari {{ bukus.paginator.num_pages }}</a>            
        </li>
        {% if bukus.has_next %}
            <li><a href="?page={{ bukus.next_page_number }}">Selanjutnya</a></li>            
            <li><a href="?page={{ bukus.paginator.num_pages }}">Terakhir &raquo;</a></li>            
        {% endif %}                
    </ul>    
</div><!-- End blog pagination -->